html,
body {
    height: 100%;
}

body {
    background-color: #111;
    color: #bbb;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table > tbody > tr > th
{
    border-color: #333;
}

.pagination > li > a {
    background-color: #1e1e1e;
    color: #1ac1bb;
    border: none;
}

.pagination > .disabled > span {
    background-color: #222;
    border: none;
}

.pagination > .active > a {
    background-color: #1ac1bb;
    color: #1e1e1e;
    border: none;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.list-group-item:nth-child(odd) {
    background-color: #1e1e1e;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.08);
}

.btn {
    border-radius: 0;
}

.table {
}

.guest > .wrap > .container {
    padding-top: 10px;
}

/* ----------------------------------------------------------------------- */

a {
    color: #1ac1bb;
}

nav {
    text-transform: uppercase;
}

.navbar-inverse {
    background-color: #030303;
    text-align: center;
}

.navbar-inverse li {
    transition: background-color 700ms;
    vertical-align: bottom;
}

.navbar-inverse li:hover {
    background-color: #222;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-nav {
    display: inline-block;
    float: none;
}

#nav-cabinet {
}

.nav-cabinet {
    margin-left: 15px;
}

.nav-cabinet img {
    vertical-align: top;
}

.breadcrumb {
    background-color: #222;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-bottom: 22px;
        padding-top: 22px;
    }
}

.form-control {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #888;
}

#background {
    margin: auto;
    padding-top: 90px;
    padding-bottom: 30px;
    text-align: center;
    background-image: url("/image/background.jpg");
}

/* --------------------------------- main page -------------------------------------- */

.site-index h2 {
    font-size: 3.5em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
}

.site-index h3 {
    text-transform: uppercase;
}

.site-index .block-title {
    text-align: center;
}

@media (min-width: 1024px) {
    .site-index .inner {
        margin: auto;
        width: 980px;
        padding: 4em 0 5em;
    }
}

.site-index > div:nth-child(even) {
    background-color: #1e1e1e;
}

#background img {
    height: 80px;
}

#background.main {
    text-transform: uppercase;
    height: 890px;
}

#background.main h2, #background.main h3 {
    font-size: 3.8em;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.8) 0 0 6px;
}

#background.main h2 {
    color: #ffffff;
}

#background.main h3 {
    color: #1ac1bb;
}

#background.main img {
    padding-top: 2em;
    height: auto;
}


#background.main .reg {
    background-color: #1ac1bb;
    color: #ffffff;
    font-size: 1.7em;
    padding: 1.3em 3em;
    text-decoration: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

#background.main .block-block:nth-child(2) {
    margin-top: 5em;
}

#background.main .block-block:last-child {
    margin-top: 7em;
}

#mission th {
    width: 48%;
}

#mission td {
    font-size: 1.1em;
}

#mission h2 {
    font-weight: bold;
    color: #ffffff;
}

#mission h3 {
    font-size: 3.1em;
    color: #1ac1bb;
}

#events .view {
    display: table-row;
}

#events .post {
    display: table-cell;
    padding: 1em;
}

#events .title a {
    font-size: 1.4em;
    text-transform: uppercase;
}

#events .details a {
    font-size: 1.2em;
    text-transform: uppercase;
}

.more-link {
    display: block;
    text-align: center;
    margin: 2em auto;
}

.more-link > a {
    background-color: #1ac1bb;
    color: #ffffff;
    font-size: 1.7em;
    padding: 0.5em 1em;
    text-decoration: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

#priorities .content div {
    font-size: 1.3em;
    width: 37%;
    background-repeat: no-repeat;
    background-position-x: 3em;
    padding-top: 5.5em;
    padding-left: 3em;
    border-left: 1mm solid #1ac1bb;
    margin: 1em;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
}

#priorities .content:after {
    content: '';
    display: block;
    clear: both;
}

#priorities .content div:nth-child(odd) {
    float: left;
}

#priorities .content div:nth-child(even) {
    float: right;
}

#priorities .marketing {
    background-image: url("/image/marketing.png");
}

#priorities .withdraw {
    background-image: url("/image/withdraw.png");
}

#priorities .stability {
    background-image: url("/image/stability.png");
}

#priorities .support {
    background-image: url("/image/support.png");
}

#video {
    background: url("/image/fog.jpg") no-repeat;
    background-size: cover;
}

#video .inner > img {
    float: left;
}

#video .inner > div {
    float: right;
    width: 37%;
    margin-left: 1em;
}

#video .inner:after {
    content: '';
    display: block;
    clear: both;
}

#video iframe {
    width: 480px;
    height: 320px;
    border: 1px solid black;
    border-radius: 1mm;
}

#quotes {
    background-color: #1ac1bb;
    text-align: center;
    color: #ffffff;
}

#quotes h3 {
    font-size: 2.7em;
}

#quotes h4 {
    margin-top: 2em;
    text-transform: uppercase;
    font-size: 0.9em;
}

#prices {
    background-color: #111;
}

#prices .inner > div:first-child {
    float: left;
    width: 18em;
}

#prices .inner > div:last-child {
    float: right;
}

#prices .price {
    color: #1ac1bb;
    font-size: 3em;
    line-height: 2em;
    font-weight: normal;
    display: table-row;
}

#prices .price-box_header {
    border-bottom: 1px solid #353535;
}

#prices .price > span {
    vertical-align: top;
}

#prices .price .cent {
    font-size: 0.5em;
    margin-top: 1.2em;
    line-height: 0.5em;
    margin-left: -0.5em;
    display: inline-block;
}

#prices .price .period {
    color: #888888;
    font-size: 0.35em;
    margin-left: -1.8em;
    margin-top: 0.5em;
    text-transform: uppercase;
    display: inline-block;
}

.price-box {
    display: table-cell;
    border-left: 1em solid #111;
    background-color: #1e1e1e;
    width: 16em;
}

.price-box ul {
    padding-left: 1mm;
}

.price-box li {
    margin-top: 0.5em;
    color: #1ac1bb;
}

.price-box li span {
    margin: 0.5em;
    text-align: left;
    color: #888;
}

.price-box > * > * {
    margin: 1em;
}

.price-box_body ul {
    height: 17em;
}

.price-box > .more-link > a {
    padding: 0;
}

.price-box .button {
    text-align: center;
    margin: 1.6em auto;
}

.price-box .button > a {
    text-align: center;
    background-color: #13746e;
    font-size: 1.3em;
    padding: 0.4em 0.8em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.price-box .button.inactive {
    opacity: 0.5;
}

#prices .inner:after {
    content: '';
    display: block;
    clear: both;
}

#prices h4 {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #ffffff;
}

/* --------------------------------- marketing -------------------------------------- */

#marketing h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 3.5em;
}

#marketing th {
    border-bottom: 1mm solid #555;
}

#marketing .content {
    font-size: 1.1em;
}

#marketing th, .total {
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
}

#marketing th span,
.blue,
.total strong {
    color: #1ac1bb;
}

#marketing td, #marketing th {
    padding: 0.6em 1em;
}

#marketing .last {
    border-right: 2px solid #222;
}

#marketing .count {
    text-align: right;
}

.rtecenter {
    text-align: center;
}

#marketing tr:nth-child(odd) {
    background-color: rgb(30, 30, 30);
}

#marketing tr:first-child {
    background-color: transparent;
}

#tree {
    text-align: center;
}

/* ------------------------- DataTable ------------------------- */

table.dataTable tbody tr {
    background-color: #1e1e1e;
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #161616;
}

table.dataTable tbody tr.selected {
    background-color: #333;
}

table.dataTable tbody tr:hover {
    background-color: #222;
}

#matrix td {
    cursor: pointer;
}

.selected td {
    /*background-color: rgb(200, 200, 120);*/
}

/* ------------------------- FAQ ------------------------- */

.contents {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
}

.contents a {
    display: block;
    margin: 1mm 1mm;
    font-size: 1.1em;
}

.faq-index dt {
    padding-top: 1em;
    font-size: 2em;
}

.faq-index dd {
    font-size: 1.1em;
}
